body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
  
}
.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}
a:hover {
	color:#2387D9;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 50px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor:pointer;
}

.flash-container {
    background-color: orangered;
    height: 30px;
    vertical-align: middle;
    text-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 1px; 
}

.postmessage {
    text-align: middle;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px;
}

.posttimestamp {
    text-align: middle;
    vertical-align: middle;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2px;
}

.likecount {
    vertical-align: center;
    font-weight: bold;
}

.formtitle {
    width: 50%;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px;
}

.formbody {
    width: 50%;
    height: 80px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px;
}

.formselect {
    width: 13%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
}

.post-box {
    display: flex;
    vertical-align: middle;
    background-color: lightgrey;
    margin: 10px;
    padding: 2px;
    @media screen and (min-width: 1200px){
        width: 32%;
    }
    @media screen and (min-width: 800px) and (max-width: 1200px){
        width: 48%;
    }
    @media screen and (max-width: 800px){
        width: 99%;
    }
}

.tagitem{
    text-align: center;
    margin: 5px;
    padding: 3px;
    border: 2px solid black;
    background-color: white;
}
